.styled-paragraph {
    font-family: 'Segoe UI';
    font-size: 1.2em;
    color: #333;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .styled-paragraph {
        font-size: 1em;
    }
}